loginWebService = "https://example.com/api/login"
clientWebService = "https://example.com/api/login"
tibiaPageUrl = "https://example.com/"
tibiaStoreGetCoinsUrl = "https://example.com/shop/coins"
getPremiumUrl = "https://example.com/pages/vip-features"
createAccountUrl = "https://example.com/account/signup"
accessAccountUrl = "https://example.com/account"
lostAccountUrl = "https://example.com/account/lost"
manualUrl = "https://example.com/pages/server-info"
faqUrl = "https://example.com/pages/server-info"
premiumFeaturesUrl = "https://example.com/pages/vip-features"
crashReportUrl = "https://example.com/api/crash-report"
cipSoftUrl = "https://example.com/"
fpsHistoryRecipient = "https://example.com/api/hardware-report"

[[edit]]
# Imbuing Crystal
id = "24964"
usable = true
multiuse = true
cyclopediaitem = {}

[[edit]]
# Teleport Box
id = "35496"
unmove = false
wrap = true


[[edit]]
# Teleport Mirror
id = "35501"
unmove = false
wrap = true

